.place_button {
  background-color: purple;
  width: 29px;
  height: 29px;
  border-radius: 14.5px;
  border: transparent;
  cursor: pointer;
}

.place_button_cont {
  position: absolute;
  top: 48.95%;
  left: 9.9%;
}