.drop_down_menu {
  border-top: 1px solid rgba(248, 248, 248, 0.50);
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    border-bottom: 1px solid rgba(248, 248, 248, 0.50);
  }

  p {
    color: rgba(248, 248, 248, 0.50);

    text-align: center;
    font-family: Lato-Light, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  button {
    background: transparent;
    border: none;

    &:focus {
      transition: all 0.3s ease-in-out;
      transform: rotate(-45deg);
    }
  }
}

.button_image {
  width: 10vh;
}