body {
    margin: 0 !important;
    background-color: #f1f1f1;
}

body::-webkit-scrollbar {
    width: 5px;/* ширина scrollbar */
}
body::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
    background-color: white;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 1px solid darkgray;  /* padding вокруг плашки */
}

footer {
    margin-top: 4%;
    background-color: black !important;
    border-radius: 2vh 2vh 0 0;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    padding-bottom: 3vh;
    padding-top: 3vh;

    font-family: Lato-Light, sans-serif;
    color: #f1f1f1;
    font-size: clamp(6px, 1.5vh, 16px);

    .email_info_container {
        display: block;
        margin: 0 auto;
        flex-wrap: wrap;
        width: 15%;
    }

    .link_for_personality {
        text-decoration: underline;
        cursor: pointer;
        color: #f1f1f1 !important;
    }
}