@font-face {
  font-family: 'Lato-Bold';
  src: url("../../assets/fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: 'Lato-SemiBold';
  src: url("../../assets/fonts/Lato-SemiBold.ttf");
}

@font-face {
  font-family: 'Lato-Regular';
  src: url("../../assets/fonts/Lato-Regular.ttf");
}

.content_container_about {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 7.5%;

  &:last-child {
    margin-bottom: 0;
  }

  &__text {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 0.25%;
    align-self: center;

    p {
      color: #000;

      font-family: Lato-Light, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

    h1 {
      color: #000;

      font-family: Lato-Bold, sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: 0;
    }
  }
}

.photo-container {
  width: 70%;
}

.over-cont {
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 70%;
  height: 30%;

  img {
    width: 90%;
    border-radius: 20px;
  }
}

.over-cont:nth-child(even) {
  justify-content: flex-end;
}

.over-cont:nth-child(odd) {
  justify-content: flex-start;
}


.content_container {
  display: flex;
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-top: 2%;
  flex-direction: column;
  gap: 5%;
}
